{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    {# Lorem ipsum to fill space #}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit dolor vel ante auctor mattis. Sed
        ut mi sit amet dolor auctor mattis. Donec imperdiet tincidunt vehicula. Nulla in efficitur enim, at
        vulputate mauris. Duis aliquet lobortis odio, eget interdum orci vulputate varius. Phasellus et ornare urna,
        quis finibus tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Morbi pulvinar iaculis dolor, ut mattis nisi molestie eu.
    </p>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    {# Image #}
    <p>
        <img src="static/" width="100%">
    </p>
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    {# Lorem ipsum to fill space #}
    <p>
        Curabitur sodales risus vel mauris mattis vestibulum. Sed egestas quis orci vel imperdiet. Cras sed ex
        laoreet, gravida dui vitae, imperdiet nisl. Aliquam ullamcorper elit non dignissim sagittis. Nulla eget
        congue nulla. Praesent eget libero eget nisl gravida hendrerit vel quis nibh. Curabitur semper nec enim vel
        iaculis. Integer ut molestie mi, a tristique mauris. Suspendisse nec iaculis magna.
    </p>
    <br>
    <p>
        Aenean imperdiet faucibus pretium. Proin cursus euismod ornare. Fusce et massa nibh. Aenean vel nunc luctus,
        maximus tortor in, auctor massa. Phasellus a tortor sit amet nisl varius maximus eu eget mauris. Donec porta
        feugiat mattis. Etiam sem risus, rutrum sed sollicitudin eget, auctor non ligula. Nulla id aliquet dolor.
        Suspendisse convallis euismod dui, consectetur luctus mi.
    </p>
{% endblock %}

{# Place the content for the cellContent4 in this block #}
{% block cellContent4 %}
    {# Image #}
    <p>
        <img src="/static/images/country/img9.png" width="100%">
    </p>
{% endblock %}