{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <form class="inline" action="" method="post">
        {{ form.hidden_tag() }}

        {# Displays users username (bold) and email (semibold) #}
        <p>
            Re-setting password for user:
        <div class="focus fw-bold">
            {{ user_to_reset.name }}
            <span class="fw-semibold">({{ user_to_reset.email_address }})</span>
        </div>

        <br>
        <div class="horizontal-divider"></div>
        <br>

        {# New Password #}
        <p>
            {{ form.new_password.label }}<br> {# sets name of input #}
            {{ form.new_password(size=32) }}<br> {# sets size of input box #}
            {% for error in form.new_password.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {# New Password Confirm #}
        <p>
            {{ form.confirm_password.label }}<br> {# sets name of input #}
            {{ form.confirm_password(size=32) }}<br> {# sets size of input box #}
            {% for error in form.confirm_password.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p class="inline">{{ form.submit() }}</p> {# submit button for form #}
    </form>

    {# back button #}
    <a class="inline" style="float: right" href="/admin/list_all_users">
        <button class="btn btn-secondary">← Back to all users</button>
    </a>
    <br><br>
{% endblock %}