{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {# Displays users username (bold) and email (semibold) #}
        <p>
            Re-setting password for user:
        <div class="focus fw-bold">
            {{ user.name }}
            <span class="fw-semibold">({{ user.email_address }})</span>
        </div>

        <br>
        <div class="horizontal-divider"></div>
        {# divider #}
        <br>

        {# Current Password #}
        <p>
            {{ form.current_password.label }}<br> {# sets name of input #}
            {{ form.current_password(size=32) }}<br> {# sets size of input box #}
            {% for error in form.current_password.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {# New Password #}
        <p>
            {{ form.new_password.label }}<br> {# sets name of input #}
            {{ form.new_password(size=32) }}<br> {# sets size of input box #}
            {% for error in form.new_password.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {# New Password Confirm #}
        <p>
            {{ form.confirm_password.label }}<br> {# sets name of input #}
            {{ form.confirm_password(size=32) }}<br> {# sets size of input box #}
            {% for error in form.confirm_password.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p> {# submit button for form #}
    </form>
{% endblock %}